*{
    box-sizing: border-box;
}
:root {
    --animation-time: 4s; 
    --animation-left-0: 0px;
    --animation-left-25: 1100px;
    --animation-left-50: 1100px;
    --animation-left-75: 0px;
    --animation-left-100: 0px;

    --animation-top-0: 0px;
    --animation-top-25: 0px;
    --animation-top-50: 700px;
    --animation-top-75: 700px;
    --animation-top-100: 0px;

    /* --animation-color-0: 0px;
    --animation-color-25: 200px;
    --animation-color-50: 0px;
    --animation-color-75: 200px;
    --animation-color-100: 0px; */
  }
  
.particle-container{
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    height: 80vh;
    width: 80vw;
    background-color: #121212;
    position: absolute;
    overflow: auto;
}
.particle{
    padding: 3px;
    top:0;
    left:0;
    position: relative;
    height: 5px;
    width: 5px;
    border-color: black;
    background-color: whitesmoke;
    border-radius: 50%;
    animation: particle var(--animation-time) ease infinite;
}
@keyframes particle {
    0%   {background-color:red; left: var(--animation-left-0); top: var(--animation-top-0);}
    25%  {background-color:yellow; left: var(--animation-left-25); top: var(--animation-top-25);}
    50%  {background-color:blue; left: var(--animation-left-50); top: var(--animation-top-50);}
    75%  {background-color:green; left: var(--animation-left-75); top: var(--animation-top-75);}
    100% {background-color:red; left: var(--animation-left-100); top: var(--animation-top-100);}
  }